---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
  <nav class="nav">
    <div class="nav-left">
      <h2><a href="/">{SITE_TITLE}</a></h2>
    </div>

    <div class="nav-center">
      <HeaderLink href="/">INVITACIÓN</HeaderLink>
      <HeaderLink href="/detalles">DETALLES</HeaderLink>
      <HeaderLink href="/about">CONFIRMACIÓN</HeaderLink>
    </div>

    <div class="nav-right"></div>
  </nav>
</header>

<style>
@font-face {
  font-family: "Boda";
  src: url("/fonts/abadi-mt-extra-light.ttf") format("truetype");
}

header {
  margin: 0;
  padding: 0 1em;
  background: white;
  box-shadow: 0 2px 8px rgba(var(--black), 5%);
}

h2 {
  margin: 0;
  font-size: 1.1em;
  font-family: "Boda", sans-serif;
  letter-spacing: 0.05em;
}

h2 a {
  text-decoration: none;
  color: inherit;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-left {
  position: absolute;
  left: 1em;
}

.nav-center {
  display: flex;
  gap: 2rem;
}

.nav-right {
  position: absolute;
  right: 1em;
}

nav a {
  padding: 1em 0.5em;
  color: var(--black);
  text-decoration: none;
  font-family: "Boda";
  border-bottom: 4px solid transparent;
}

/* ===== ACTIVO CON BANDERA DE ESPAÑA ===== */
nav a.active {
  position: relative;
}

nav a.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 4px;
  border-radius: 2px;

  background: linear-gradient(
    to right,
    #c60b1e 0%,
    #c60b1e 30%,
    #ffc400 30%,
    #ffc400 70%,
    #c60b1e 70%,
    #c60b1e 100%
  );
}

/* Responsive */
/* ===================== MÓVIL ===================== */
@media (max-width: 720px) {
  .nav-left {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }
}


</style>